.create{
    top: 3in;
    bottom:auto;
    left: 3in;
    width: fit-content;
    height:fit-content;
    position:absolute;
    z-index: 2;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(136, 136, 136, 0.58);
}

.update{
    top: 3in;
    bottom:auto;
    left: 8in;
    width: fit-content;
    height:fit-content;
    position:absolute;
    z-index: 2;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(136, 136, 136, 0.58);
}

.delete{
    top: 3in;
    bottom:auto;
    left: 13in;
    width: fit-content;
    height:fit-content;
    position:absolute;
    z-index: 2;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(136, 136, 136, 0.58);
}

/* Home link */
a:-webkit-any-link {
    color:black;
    cursor: pointer;
    text-decoration: underline;
}