  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    opacity: 70%;
  }
  
  /* Style the topnav links */
.topnav a {
    float:center;
    display: block;
    color: #000000;
    text-align: center;
    font-size: 35px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
