.schedule{
    top: 5.5in;
    bottom: 0;
    left: 0;
    position:absolute;
    z-index: 2;
    width: 278px;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(136, 136, 136, 0.58);
}

.students{
    top: 0;
    bottom:auto;
    left: 0;
    position:absolute;
    z-index: 2;
    width: 278px;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgba(136, 136, 136, 0.58);
}
*{
    font-size:xx-large;
}