/* Style the header */
.header {
  padding: 20px;
  text-align: center;
}

/*Background Image*/
.bgi{
  background-image: url(../assets/BackgroundParents.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width: 200vh;
  height: 100vh;
}